// import globals
@import "../../assets/styles/global.scss";

// header component
.header {
  background: url(../../assets/images/9.jpg) 50% 50% no-repeat scroll;
  background-size: cover;
  background-color: $dark;
  color: $light;
  height: 100vh;

  &__wrapper {
    background: linear-gradient(to right, $dark, rgba($dark, 0.25));
    height: 100%;
  }

  .nav {
    padding-top: 2em;
    font-size: 15px;

    &__anchor {
      margin-left: 2em;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 55%;
    @apply p-16 px-20;
    padding-bottom: 5em;
  }

  &__title {
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
    -webkit-text-stroke: 2px $light;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  &__trailerImg {
    height: 7em;
    width: 12em;
  }

  &__trailerTitle {
    font-size: 12px;
    letter-spacing: 1px;
  }

  &__trailerNote,
  &__trailerBtn {
    font-size: 11px;
    letter-spacing: 1px;
    color: $gray;
  }
}

.secondary {
  background-color: rgba($light, 0.2);
  color: $light;
  @apply font-medium;
}
