// import globals
@import "../../assets/styles/global.scss";

// app component
.viewTv {
  background-color: $dark;
  color: $light;
  overflow-x: hidden;

  .main {
    grid-template-columns: 1fr 0.4fr;

    .column {
      &__title {
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.5px;
      }

      &__seasonNumber {
        font-size: 22px;
      }

      &__seasonContent {
        grid-gap: 1em;
        overflow: scroll;
        @apply px-20;
      }
    }

    .about {
      &__heading {
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1.5px;
      }

      &__desc {
        width: 55%;
        line-height: 170%;
      }

      &__title {
        font-size: 32px;
      }
    }
  }

  // hide all scrollbars
  ::-webkit-scrollbar {
    width: 0;
  }
}
