// import globals
@import "../../assets/styles/global.scss";

// page header component
.page_header {
  background: url("../../assets/images/wall.jpg") 50% 50% no-repeat scroll;
  background-size: cover;

  &__wrapper {
    background: linear-gradient(
      to right,
      rgba(#000000, 0.8),
      rgba(#000000, 0.8)
    );
    @include media-min(lg-min) {
      padding: 12em 2em 10em 2em;
    }
    @include media-btw(md-min, md-max) {
      padding: 12em 2em 10em 2em;
    }
    @include media-max(sm-max) {
      padding: 12em 1.5em 10em 1.5em;
    }
  }

  &__title {
    @include media-min(lg-min) {
      font-size: 4.5vw;
    }
    @include media-btw(md-min, md-max) {
      font-size: 6vw;
    }
    @include media-max(sm-max) {
      font-size: 8vw;
    }
  }

  &__subtitle {
    @include media-min(md-min) {
      font-size: 1.1em;
      margin-top: -2px;
    }
  }
}
