// import globals
@import "../../assets/styles/global.scss";

@mixin wh {
  height: 20em;
  width: 32em;
}
// largeCard component
.largeCard {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  @include wh;

  &__wrapper {
    position: relative;
    background: linear-gradient(to top, rgba(black, 0.75), rgba(black, 0.15));
    @include wh;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__note {
    font-size: 11px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 26px;
    margin-top: 2px;
  }

  // &__tags {
  //   @include smallTags;
  // }
}
